<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_DIR" value="/var/log/services" />
    <property name="APP_LOG_NAME" value="spring-app" />
    <property name="HIBERNATE_LOG_NAME" value="hibernate-sql" />

	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</layout>
	</appender>

	<appender name="RollingFileApp"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_DIR}/${APP_LOG_NAME}.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd-MMM-yyyy HH:mm:ss.SSS} [%thread] [${APP_LOG_NAME}] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_DIR}/archived/${APP_LOG_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="RollingFileHibernate"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_DIR}/${HIBERNATE_LOG_NAME}.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd-MMM-yyyy HH:mm:ss.SSS} [%thread] [${HIBERNATE_LOG_NAME}] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_DIR}/archived/${HIBERNATE_LOG_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<logger name="org.hibernate.SQL" level="DEBUG"
		additivity="false">
		<appender-ref ref="RollingFileHibernate" />
		<appender-ref ref="Console" />
	</logger>
    
    <logger name="net.sf.jasperreports.engine" level="DEBUG"
		additivity="false">
		<appender-ref ref="RollingFileApp" />
		<appender-ref ref="Console" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="RollingFileApp" />
		<appender-ref ref="Console" />
	</root>

</configuration>